.weather-app-wrapper {
  margin: 100px auto;
  max-width: 700px;
}
.weather-app {
  padding: 25px;
  border: 1px solid;
  border-color: rgb(188, 188, 188);
  border-radius: 10px;
  box-shadow: 5px 5px 15px;
  font-family: "Poppins", sans-serif;
}

#current-location {
  border: none;
  background-color: #ffffff;
  margin: 3px 0px 0px -10px;
}

#current-location-img {
  display: block;
  margin: auto;
  width: 30px;
}

#current-location-img:hover {
  transform: scale(1.3);
}

.form-control {
  max-width: 95%;
}

#current-temperature {
  text-align: right;
}

h1 {
  color: rgb(56, 56, 56);
  display: inline;
  font-size: 50px;
  font-weight: bold;
  margin: 30px 0px 0px -10px;
}

.units {
  color: rgb(56, 56, 56);
  font-size: 20px;
  font-weight: bold;
  position: relative;
  top: -20px;
  right: 5px;
}

#celcius {
  text-decoration: none;
  color: rgb(255, 202, 44);
}

#fahrenheit {
  text-decoration: none;
  color: rgb(255, 202, 44);
}

#current-temperature .active {
  color: rgb(56, 56, 56);
  cursor: default;
  text-decoration: none;
}

img[src=""] {
  display: none;
}

h2 {
  color: rgb(56, 56, 56);
  font-weight: bolder;
  margin: -30px 0px 5px 0px;
}

h3 {
  color: rgb(56, 56, 56);
  font-size: 18px;
  font-style: italic;
  margin-bottom: 30px;
}

h4 {
  color: rgb(56, 56, 56);
  font-size: 15px;
  margin: 10px 0px;
}

h5 {
  color: rgb(56, 56, 56);
  text-align: center;
  font-size: 110%;
  font-weight: bolder;
  margin: 20px 0px 10px;
}

h6 {
  color: rgb(56, 56, 56);
  text-align: center;
  font-size: 15px;
  font-style: italic;
  padding: 5px;
}

.main-image {
  width: 130px;
  position: relative;
  right: 5px;
}

.forecast-img {
  display: block;
  margin: auto;
  padding: 5px;
  width: 60px;
  text-align: center;
}

#github-link {
  color: rgb(56, 56, 56);
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: smaller;
  text-decoration: none;
  padding: 15px 5px;
}
